.espaco {
    margin: 10px 10px 10px 10px;
}

.tamFoto {
    width: 242px;
}


.w-100 {
    width: 60%!important;
}

.alinhar {
    margin: 10px 20px 60px 100px;
}

.margemTexto{
    margin: 1px 0px 1px 0px;
}

.fonte{
    font-family: 'Segoe Print';
}